<table width="100%" align="center" border="0" cellpadding="0"
	cellspacing="0">
	<tbody>
		<tr>
			<td width="42" background="./index_files/ousooo13.png"></td>
			<td valign="middle"><div style="text-align: center;"
					id="mainmenu">
					<ul class="glossymenu">
						<li class="current"><a href="http://www.darsksosi.com/search"><b>البحث
									فى المنتدى</b></a></li>
						<li><a title="المواضييع الجديده"
							href="http://www.darsksosi.com/search?search_id=newposts"><b>المواضييع
									الجديده</b></a></li>
						<li><a style="" title="أفضل مواضيع اليوم"
							href="http://www.darsksosi.com/search.forum?search_id=activetopics"><b>أفضل
									مواضيع اليوم</b></a></li>
						<li><a style="" title="أفضل أعضاء اليوم"
							href="http://www.darsksosi.com/memberlist.forum?mode=today_posters"><b>أفضل
									أعضاء اليوم</b></a></li>
						<li><a
							href="http://www.darsksosi.com/memberlist?mode=overall_posters"><b>أفضل
									20 عضو</b></a></li>
						<li><a style=""
							href="http://www.darsksosi.com/search?search_id=egosearch"><b>استعرض
									مشاركاتك</b></a></li>
					</ul>
				</div>
				<table class="forumline" width="100%" border="0" cellspacing="1"
					cellpadding="0"></table>
				<table class="forumline" width="100%" border="0" cellspacing="1"
					cellpadding="0">
					<tbody>
						<tr>
							<th colspan="2" nowrap="nowrap" width="100%"
								class="secondarytitle">
								<h2>الاقسام الادارية</h2>
							</th>
							<th nowrap="nowrap" width="150"><div style="width: 150px;">آخر
									مساهمة</div></th>
							<th nowrap="nowrap" width="100">إحصائيات القسم</th>
						</tr>
						<tr>
							<td class="row1" align="center" valign="middle"><img
								title="لا مساهمات جديدة" src="./index_files/110.gif"
								alt="لا مساهمات جديدة"></td>
							<td class="row1 over" colspan="1" valign="top" align="center"
								width="100%" height="50"><h3 class="hierarchy">
									<span class="forumlink"><a id="norrd" a=""
										class="forumlink" href="http://www.darsksosi.com/c35-category"
										title="اقسام ادارة المنتدى">...اقسام ادارة المنتدى...</a></span>
								</h3>
								<span class="genmed"></span><span class="gensmall"><a
									href="http://www.darsksosi.com/t4353-topic#42261"><img
										class="sprite-icon_post_target" src="./index_files/empty.gif"
										alt="لا مساهمات جديدة" title="لا مساهمات جديدة" align="top"></a><a
									href="http://www.darsksosi.com/f34-montada" title=""
									class="gensmall">اخبار درس خصوصى</a>, <a
									href="http://www.darsksosi.com/t5804-topic#42855"><img
										class="sprite-icon_post_target" src="./index_files/empty.gif"
										alt="لا مساهمات جديدة" title="لا مساهمات جديدة" align="top"></a><a
									href="http://www.darsksosi.com/f190-montada" title=""
									class="gensmall">الطلبات والاقتراحات</a>, <a
									href="http://www.darsksosi.com/t3483-topic#21648"><img
										class="sprite-icon_post_target" src="./index_files/empty.gif"
										alt="لا مساهمات جديدة" title="لا مساهمات جديدة" align="top"></a><a
									href="http://www.darsksosi.com/f66-montada" title=""
									class="gensmall">نقاش وحوار تطوير المنتدى</a></span></td>
							<td class="row3 over" align="center" valign="middle" height="50"><span
								class="gensmall"><span><a
										href="http://www.darsksosi.com/t5804-topic"
										title="تحليل كامل منهج الدراسات الاجتماعية للصف الخامس الأبتدائى">تحليل
											كامل منهج الدراسات الاجت...</a><br>الخميس 23 فبراير 2017 -
										21:51<br>
									<strong><a href="http://www.darsksosi.com/u49308"
											class="gensmall">adel.master</a></strong>&nbsp;<a
										href="http://www.darsksosi.com/t5804-topic#42855"
										class="last-post-icon"><img class="sprite-icon_reply"
											src="./index_files/empty.gif" alt="اطلع على آخر مُساهمة"
											title="اطلع على آخر مُساهمة"></a></span></span></td>
							<td class="row3" align="center" valign="middle" height="50"><div
									style="width: 136px; height: 18px; margin-top: 3px"
									class="moadee3">
									<font face="Tahoma"><span style="font-size: 8pt">المواضيع
											: 80</span></font>
								</div>
								<div style="width: 136px; height: 18px; margin-top: 3px"
									class="moadee3">
									<font face="Tahoma"><span style="font-size: 8pt">المشاركات
											: 566</span></font>
								</div></td>
						</tr>
					</tbody>
				</table></td>
			<td width="43" background="./index_files/ousooo14.png"></td>
		</tr>
	</tbody>
</table>